body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    font-family: Arial, sans-serif;
}

.clock {
    color: #00ff99;
    font-size: 70px;
    font-weight: bold;
    background: #222;
    padding: 25px 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px #00ff99;
}